Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
ipch/reclass 2015-29af2af9/reclass-cb66f813.ipch
ReClass.sdf
ReClass.opensdf
ipch/reclass 2015-29af2af9/reclass_dbg-f6860885.ipch
Reclass2015.rar
