Thumbs.db
*.VC.opendb
*.VC.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
ReClass.sdf
ReClass.opensdf
Reclass2015.rar
*.ipch
*.exp
*.iobj
*.ipdb
/ReClass/symsrv.dll
/DriverPlugin
/ReClass/plugins/BlackoutDrv64_dbg.sys
/ReClass/plugins/BlackoutDrv64.sys
/ReClass/plugins/DriverPlugin.lib
/ReClass/plugins/DriverPlugin.rc-plugin64
DriverPlugin.lib
DriverPlugin.rc-plugin64
DriverPlugin_dbg.lib
DriverPlugin_dbg.rc-plugin64d
*.reclass
*.sys
/ReClass/plugins/TestPlugin.lib
/ReClass/plugins/TestPlugin.rc-plugin64
.vs
