Thumbs.db
*.VC.opendb
*.VC.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
ReClass.sdf
ReClass.opensdf
Reclass2015.rar
*.ipch
*.exp
*.iobj
*.ipdb
/ReClass/symsrv.dll
